.clear-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--width-buffer-medium);
}

.clear-button {
    color: var(--color-lightblack);
    font-size: var(--font-medium);
    width: 117px;
    height: var(--height-button);
    border-radius: var(--width-border-radius);
    border: solid 1px var(--color-lightblack);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.clear-button.inactive {
    color: var(--color-darkgrey);
    border: solid 1px var(--color-darkgrey);
    cursor: default;
}
