.back-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.back-button-label {
    margin-left: var(--width-buffer-tiny);
    font-size: var(--font-medium);
    color: var(--color-teal);
}
