.filter-button {
    width: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: var(--width-buffer-small);
    cursor: pointer;
}

.filter-label {
    margin-top: var(--width-buffer-tiny);
    font-size: var(--font-small);
    color: var(--color-lightblack);
    text-align: center;
}
