.filter-settings-container {
    overflow-x: hidden;
    margin: var(--height-header) var(--width-buffer-large) var(--width-buffer-large);
    height: 100vh;
}

.header-section {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.body-section {
    overflow: auto;
}

.filter-settings-header {
    display: flex;
    justify-content: space-between;
}

.filter-settings-header-buffer {
    width: 44px
}
