#collapse-button {
    object-fit: contain;
    width: 18px;
    height: 16px;
    transition: transform 0s;
}

.collapse-button--closed {
    transform: rotate(180deg);
}

#pane-collapse {
    position: absolute;
    transform: translate(38px);
    width: 38px;
    height: 48px;
    border-radius: 5px;
    background-color: var(--color-darkwhite);
    align-self: flex-end;
    bottom: 0;
    margin-bottom: var(--width-buffer-large);
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 2;
}

#pane-shadow {
    width: 8px;
    height: 48px;
    background-image: linear-gradient(to left, var(--color-lightgrey), var(--color-darkgrey));
}
