.menu-button {
    border-radius: 21px;
    height: var(--height-button);
    display: flex;
    align-items: center;
    font-size: var(--font-large);
    color: var(--color-lightblack);
    padding: 0 var(--width-buffer-small);
    cursor: pointer;
}

.menu-button.selected {
    background-color: var(--color-teal);
    color: var(--color-white);
}
