.survey-datatype-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: var(--height-header);
}

.survey-datatype-menu > .menu-button {
    margin: 0 var(--width-buffer-tiny);
}
