#domain-settings--title {
    font-size: var(--font-large);
    font-weight: bold;
}

#domain-settings-body-label {
    font-size: var(--font-medium);
}

.header-with-collapsible-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-title {
    display: inline-flex;
}
