.resource-selection-pane {
    margin-top: var(--width-buffer-small);
    display: flex;
    justify-content: flex-start;
}

.badge {
    border-radius: 50% 50% 50% 50%;
    width: 15px;
    height: 15px;
    border: solid 2px var(--color-darkwhite);
    background-color: var(--color-lightblack);
    font-size: var(--font-tiny);
    color: var(--color-white);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    position: absolute;
}

.badge-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.svg-filter-button {
    margin-top: 4px;
}
