@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
    margin: 0;
    font-family: "Open Sans", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: var(--color-lightgrey);
}

h2 {
    font-weight: bold;
    font-size: var(--font-large);
    color: var(--color-lightblack);
}

h3 {
    font-size: var(--font-medium);
}

p,
a,
button {
    font-size: var(--font-medium);
    text-align: left;
}

button {
    cursor: pointer;
}

button[disabled] {
    color: var(--color-darkgrey);
    cursor: not-allowed;
}

#app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#overlay-container {
    z-index: 2;
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events:none;
}

#menu-container {
    flex-grow: 1;
    flex-direction: column;
    display: inline-flex;
}

#bar-container {
    display: inline-flex;
    pointer-events: all;
    background: var(--color-darkwhite);
    height: var(--height-header);
}

#domain-menu-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#view-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#map-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
}

:root {
    --width-buffer-tiny: 5px;
    --width-buffer-xsmall: 10px;
    --width-buffer-small: 20px;
    --width-buffer-medium: 30px;
    --width-buffer-large: 40px;
    --width-border-radius: 20px;
    --width-dropdown: 175px;
    --height-header: 84px;
    --height-button: 35px;
    --color-teal: #2b7586;
    --color-red: #d0021b;
    --color-transparent: rgba(0, 0, 0, 0.1);
    --color-opaque: rgba(255, 255, 255, 0.8);
    --color-white: #ffffff;
    --color-darkwhite: #f9f9f9;
    --color-lightgrey: #eeeeee;
    --color-darkgrey: #ccc;
    --color-lightblack: #262626;
    --color-black: #000000;
    --font-tiny: 0.652em;
    --font-small: 0.75em;
    --font-medium: 0.875em;
    --font-large: 1em;
}
