.button {
    display: flex;
    z-index: 3;
    border-radius: var(--width-border-radius);
    height: var(--height-button);
    width: var(--width-dropdown);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 11px 0 var(--color-transparent);
    background-color: var(--color-white);
    font-size: var(--font-medium);
    color: var(--color-teal);
    border-width: 0;
}
